Task_Test.json
{
  "name": "Task_Test",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "7f67ee83-9f19-493f-8750-55936c1960b8",
      "name": "Every Minute Trigger"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0A6YBJJSJ2",
          "mode": "list",
          "cachedResultName": "n8nbotslack"
        },
        "text": "={{ $json.message }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        448,
        0
      ],
      "id": "99797670-c778-461b-84e7-08e5bf21d027",
      "name": "Send Slack Alert",
      "webhookId": "44fee369-c826-4cc1-a758-fbd5810bb414",
      "credentials": {
        "slackApi": {
          "id": "RkC6vatGscsD0zmt",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// This prints to your Docker logs\nconsole.log(\"Hello World\");\n\n// This outputs the data to the next node in n8n\nreturn [\n  {\n    json: {\n      message: \"Hello World\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        0
      ],
      "id": "cf876ac9-535d-4f5b-a1f4-f253da50aba8",
      "name": "Generate Message"
    }
  ],
  "pinData": {},
  "connections": {
    "Every Minute Trigger": {
      "main": [
        [
          {
            "node": "Generate Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Message": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "a73c6bf6-0cc6-439b-b7de-ea2e08d93fb6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "98de5aeae2e23f38b8955904e18c87188ec8ac7407a49d2fb176d9de838fde06"
  },
  "id": "PaVQk8c4eXaVDlNCBa2Nt",
  "tags": []
}